<!-- Навигация -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'catalog:home' %}">🛍️ Магазин товаров</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'catalog:home' %}">
                        🏠 Главная
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        📦 Каталог
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        📁 Категории
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/contacts/' %}active{% endif %}" href="{% url 'catalog:contacts' %}">
                        📞 Контакты
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>