<ul class="navbar-nav me-auto">
    <li class="nav-item">
        <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'catalog:home' %}">
            🏠 Главная
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if '/categories/' in request.path %}active{% endif %}" href="{% url 'catalog:category_list' %}">
            📁 Категории
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if '/products/' in request.path %}active{% endif %}" href="{% url 'catalog:product_list' %}">
            📦 Все продукты
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if '/blog/' in request.path %}active{% endif %}" href="{% url 'blog:blogpost_list' %}">
            📝 Блог
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.path == '/contacts/' %}active{% endif %}" href="{% url 'catalog:contacts' %}">
            📞 Контакты
        </a>
    </li>
</ul>