<!-- В разделе с кнопками добавить проверку прав -->
<div class="d-grid gap-2 d-md-flex">
    <button class="btn btn-primary btn-lg flex-fill">Добавить в корзину</button>
    
    {% if user == product.owner or user.has_perm 'catalog.change_product' or user.has_perm 'catalog.delete_product' %}
    <div class="btn-group ms-md-2" role="group">
        {% if user == product.owner or user.has_perm 'catalog.change_product' %}
        <a href="{% url 'catalog:product_update' product.pk %}" class="btn btn-outline-primary">Редактировать</a>
        {% endif %}
        
        {% if user == product.owner or user.has_perm 'catalog.delete_product' %}
        <a href="{% url 'catalog:product_delete' product.pk %}" class="btn btn-outline-danger">Удалить</a>
        {% endif %}
    </div>
    {% endif %}
</div>